[submodule "externals/tree-sitter"]
	path = externals/tree-sitter
	url = https://github.com/tree-sitter/tree-sitter.git
	ignore = dirty
[submodule "langs/python/externals/tree-sitter-python"]
	path = langs/python/externals/tree-sitter-python
	url = https://github.com/tree-sitter/tree-sitter-python.git
	ignore = dirty
[submodule "langs/c/externals/tree-sitter-c"]
	path = langs/c/externals/tree-sitter-c
	url = https://github.com/tree-sitter/tree-sitter-c.git
	ignore = dirty
